<% include ../public/Partials/head %>
<% include ../public/Partials/header %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/get.js"></script>

    <div class="w3-light-grey">
        <img class="image center w3-light-grey" src=".\images\gtr.jpg">
    </div>
    <div class="w3-containter w3-displaycontainer w3-center w3-light-grey">
        <div class="jumbotron w3-container">
            <h1>Welcome to The Quick Miliage Tracker <%= title %>!</h1>
        </div>
		<%if (Vin) { %> the Vin is <% Vin%> <%}%>
		<div id="VinDiv"><p> </p></div>
        <h2 class="w3-red"></h2>
        <br>
        <h2>Enter the vin to check the mileage</h2>
        <form action="/" method="POST">
            <lable>Enter the Vin </lable>
            <br>
            <input type="text" name="Vin" id="CheckVin">
            <br>
            <input class="w3-button w3-black" type="button" onclick="get()" value="Check" name="Check" id="Check">
        </form>
        <br>
        <h2>Please add a Vehicle or Update</h2>
        <form id="update" name="update" action="/" method="post">
            <lable>Enter the Vin</lable>
            <br>
            <input type="text" name="Vin" id="Vin">
            <br>
            <lable>Enter the mileage</lable>
            <br>
            <input type="text" name="Mileage" id="Mileage">
            <br>
            <input class="w3-button w3-black" type="submit" value="Update" name="Update" id="submit">
        </form>
    </div>


</body>

